<!DOCTYPE html>
<html>
<head>
    <title>All Treks</title>
</head>
<body>

    <h1>Manage Treks</h1>
    <a href="/admin/create-trek">
        Create New Trek
    </a>
    <br><br>

    <h1>All Treks</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Trek Name</th>
            <th>Location</th>
            <th>Difficulty</th>
            <th>Duration</th>
            <th>Slots</th>
            <th>Assigned Staff</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        {% for trek in treks %}
        <tr>
            <td>{{ trek.id }}</td>
            <td>{{ trek.trek_name }}</td>
            <td>{{ trek.location }}</td>
            <td>{{ trek.difficulty }}</td>
            <td>{{ trek.duration_days }}</td>
            <td>{{ trek.available_slots }}</td>
            <td>{% if trek.assigned_staff %}
                    {{ trek.assigned_staff.name }}
                {% else %}
                    Not Assigned
                {% endif %}
            </td>
            <td>{{ trek.status }}</td>

            <td>
                <a href="/admin/edit-trek/{{ trek.id }}">
                    Edit
                </a>
                |
                <a href="/admin/delete-trek/{{ trek.id }}">
                    Delete
                </a>
                <a href="/admin/assign-staff/{{ trek.id }}">
                    Assign Staff
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/admin/dashboard">
        Back to Dashboard
    </a>

</body>
</html>