<!DOCTYPE html>
<html>
<head>
    <title>Update Trek</title>
</head>
<body>

    <h1>Update Trek</h1>

    <form method="POST">

        <p>

            Trek:
            {{ trek.trek_name }}

        </p>

        <label>

            Available Slots

        </label>

        <input
            type="number"
            name="available_slots"
            value="{{ trek.available_slots }}"
            required
        >
        <br><br>
        <label>
            Trek Status
        </label>

        <select name="status">

            <option
                value="Open"
                {% if trek.status == "Open" %}
                    selected
                {% endif %}
            >
                Open
            </option>

            <option
                value="Closed"
                {% if trek.status == "Closed" %}
                    selected
                {% endif %}
            >
                Closed
            </option>

            <option
                value="Started"
                {% if trek.status == "Started" %}
                    selected
                {% endif %}
            >
                Started
            </option>

            <option
                value="Ongoing"
                {% if trek.status == "Ongoing" %}
                    selected
                {% endif %}
            >
                Ongoing
            </option>

            <option
                value="Completed"
                {% if trek.status == "Completed" %}
                    selected
                {% endif %}
            >
                Completed
            </option>
        </select>
        <br><br>
        <button type="submit">
            Update Trek
        </button>
    </form>
</body>
</html>