<h1>All Users</h1>

<table border="1">

    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.status }}</td>
        <td>
            <a href="/admin/toggle-user-status/{{ user.id }}">
            {% if user.status == "BLACKLISTED" %}
                Activate
            {% else %}
                Blacklist
            {% endif %}
            </a>
        </td>
    </tr>
    {% endfor %}

</table>