<h1>All Staff</h1>

<table border="1">

    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
    {% for staff in staff_members %}
    <tr>
        <td>{{ staff.id }}</td>
        <td>{{ staff.name }}</td>
        <td>{{ staff.email }}</td>
        <td>{{ staff.status }}</td>
        <td>
            <a href="/admin/toggle-user-status/{{ staff.id }}">
            {% if staff.status == "BLACKLISTED" %}
                Activate
            {% else %}
                Blacklist
            {% endif %}
            </a>
        </td>
    </tr>
    {% endfor %}

</table>